
h1{
font-family: 'Bungee Shade', cursive;
}
h2{
font-family: 'Bungee Shade', cursive;
}
h3{
font-family: 'Bungee Shade', cursive;
}
h4{
font-family: 'Quicksand', sans-serif;
}
h5{
font-family: 'Quicksand', sans-serif;
}
p{
font-family: 'Quicksand', sans-serif;
}
a{
font-family: 'Quicksand', sans-serif;
}
span{
font-family: 'Quicksand', sans-serif;
}